<!doctype html>
<html lang="en">
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
    <title>Invenire</title>
</head>
<body>
<header th:insert = "components/nav.html :: header(idNav='')"></header>
<main class="mainTienda">
    <form class="tags" action="" method="get" th:object="${searchDTO}">
        <label for="categoria">Categoria:</label>
        <select name="categoria" class="categoriaSelect" id="categoria" th:object="${categorias}" th:field="${searchDTO.categoria}">
            <option th:value="todas">Todas</option>
            <option th:each="categoria : ${categorias}" th:value="${categoria.nombre}" th:text="${categoria.nombre}"></option>
        </select>
        <label for="orden">Orden:</label>
        <select name="orden" id="orden" th:field="${searchDTO.ordenamiento}">
            <option th:value="sinOrden">Sin orden</option>
            <option th:value="precioAsc">Por precio ascendente</option>
            <option th:value="precioDes">Por precio descedente</option>
            <option th:value="fechaAsc">Por fecha ascendente</option>
            <option th:value="fechaDes">Por fecha descedente</option>
        </select>
        <button type="submit" class="button">Buscar <ion-icon name="chevron-forward-circle-outline"></ion-icon></ion-icon></button>
    </form>

    <div th:if="${currentCategoria != null && currentCategoria != '' && currentCategoria != 'todas'}" class="tagConteiner">
        <div class="tag">
            <span th:text="${currentCategoria}"></span>
            <a th:href="@{'/cursos/tienda/' + ${currentPage}}"><ion-icon name="close-circle-outline"></ion-icon></a>
        </div>
    </div>

    <div th:if="${#lists.size(listCursos) >= 1}" class="cards">
        <h1>Tienda</h1>
        <div class="tiendaCards">
            <div th:each="curso : ${listCursos}" class="card">
                <a th:href="@{/cursos/__${curso.id}__}" style="color:white;text-decoration:none;">
                    <div class="headerCard">
                        <img th:src="${curso.urlFotoCurso}" alt="">
                        <p th:text="${curso.nombreAutor}"></p>
                    </div>
                    <div class="infoCard">
                        <h2 th:text="${curso.nombre}"></h2>
                        <div class="stars">
                            <ion-icon name="star" th:each="i: ${#numbers.sequence(1, curso.cantEstrellasDadas)}" style="color:#FABF00;"></ion-icon>
                            <ion-icon name="star" th:if="${curso.cantEstrellasFaltantes >= 1}" th:each="i: ${#numbers.sequence(1, curso.cantEstrellasFaltantes)}"></ion-icon>
                        </div>
                        <div th:if="${!curso.comprado}" class="buy">
                            <div th:if="${curso.precio} == ${curso.precioDescontado}">
                                <p th:text="${curso.precio}">$5.500 (ARS)</p>
                            </div>
                            <div th:if="${curso.precio} != ${curso.precioDescontado}">
                                <del><p th:text="${curso.precio}">$5.500 (ARS)</p></del>
                                <p th:text="${curso.precioDescontado}">$5.500 (ARS)</p>
                            </div>
                            <button class="button">Comprar</button>
                        </div>
                        <div th:if="${curso.comprado}" class="buy">
                            <p>Ya tenes este curso!</p>
                            <button class="button">Ver detalles</button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div th:if="${#lists.size(listCursos) == 0}">
        <h1>No hay cursos que coincidan con los criterios de busqueda.</h1>
    </div>

    <div th:if = "${totalPages > 1}">
        <div class = "row col-sm-10">
            <div class = "col-sm-2">
                Total Rows: [[${totalItems}]]
            </div>
            <div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/cursos/tienda/' + ${i}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
            </div>
            <div class = "col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/cursos/tienda/' + ${currentPage + 1}}">Siguiente</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>

            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/cursos/tienda/' + ${totalPages}}">Ultima</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
    </div>


</main>
<script
        type="module"
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
></script>
<script
        nomodule
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
></script>
</body>
</html>