<!doctype html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap"
          rel="stylesheet" />
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    <title>Invenire</title>
</head>
<body class="home">
<header th:insert="components/nav.html :: header"></header>
<main class="edit-user">
    <div class="row">
        <div class="col-1 flow" style="--flow-spacer: .8rem">
            <h1>EDITAR USUARIO</h1>
            <form th:action="@{/editUser}" method="post" th:object="${user}">
                <div class="inputFormLine">
                    <label for="fechaNacimiento">Fecha Nacimiento:</label>
                    <input type="date" id="fechaNacimiento" th:value="${user.fechaNacimiento}"
                           th:field="${user.fechaNacimiento}">
                </div>
                <div class="inputFormLine">
                    <label for="email">Email:</label>
                    <input type="text" id="email" th:value="${user.email}" th:field="${user.email}">
                </div>
                <div class="inputFormLine">
                    <label for="celular">Celular:</label>
                    <input type="text" id="celular" th:value="${user.celular}" th:field="${user.celular}">
                </div>
                <div>
                    <h2>Direccion:</h2>
                    <div class="inputFormLine">
                        <label for="pais">Pais:</label>
                        <select name="pais" id="pais" th:object="${paises}" th:field="${user.pais}">
                            <option th:each="paisItem : ${paises}" th:value="${paisItem.nombre}"
                                    th:text="${paisItem.nombre}">
                            </option>
                        </select><br>
                    </div>
                    <div class="inputFormLine">
                        <label for="localidad">Localidad:</label>
                        <input type="text" id="localidad" th:value="${user.localidad}" th:field="${user.localidad}">
                    </div>
                    <div class="inputFormLine">
                        <label for="ciudad">Ciudad:</label>
                        <input type="text" id="ciudad" th:value="${user.ciudad}" th:field="${user.ciudad}">
                    </div>
                    <div class="inputFormLine">
                        <label for="codPostal">Cod Postal:</label>
                        <input type="text" id="codPostal" th:value="${user.codPostal}" th:field="${user.codPostal}">
                    </div>
                    <div class="inputFormLine">
                        <label for="calle">Calle:</label>
                        <input type="text" id="calle" th:value="${user.calle}" th:field="${user.calle}">
                    </div>
                </div>
                <button class="button" type="submit">Guardar Cambios</button>
                <div th:if="${param.exito}" class="success">
                    <p>Usuario editado con exito!</p>
                    <ion-icon name="checkmark-outline"></ion-icon>
                </div>
            </form>
        </div>
        <div class="col-2">
            <div class="profile-card" id="profile-card">
                <div class="editProfile" id="editProfile">
                    <ion-icon name="image-outline"></ion-icon>
                    <p>Cambiar foto</p>
                </div>
                <img src="https://images.unsplash.com/photo-1628563694622-5a76957fd09c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aW5zdGFncmFtJTIwcHJvZmlsZXxlbnwwfHwwfHw%3D&w=1000&q=80"
                     alt="Profile user" id="profile-pic">
                <h2 th:text="${user.username}" th:field="${user.username}">Franco Asís</h2>
            </div>
        </div>
    </div>
</main>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script>
    document.getElementById("profile-pic").addEventListener('mouseover', () => {
        document.getElementById("editProfile").style.display = 'block';
    })
    document.getElementById("profile-pic").addEventListener('mouseleave', () => {
        document.getElementById("editProfile").style.display = 'none';
    })
</script>
</body>
</html>