<!DOCTYPE html>
<html lang="en">
  <html xmlns:th="https://www.thymeleaf.org">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet"
      />
      <!--CSS-->
      <link
          rel="stylesheet"
          type="text/css"
          href="../static/css/style.css"
          th:href="@{/css/style.css}"
        />
      <title>Invenire</title>
    </head>
    <body>
      <header th:insert="components/nav.html :: header"></header>
      <main>
        <section class="help">
          <div class="headlineHelp">
            <h1>Preguntas frecuentes</h1>
          </div>
          <section class="questions">
            <article class="question">
              <div class="headlineQuestion">
                <h3>¿Que metodos de pago puedo usar para pagar un curso en Invenire?</h3>
                <ion-icon name="caret-down-circle-outline"></ion-icon>
              </div>
              <div class="bodyQuestion">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad sapiente expedita, quas repellat, consequuntur ut possimus laboriosam laudantium totam officia, illum ullam sint consequatur! At, eligendi quibusdam. Obcaecati, fuga temporibus?
              </div>
            </article>
            <article class="question">
              <div class="headlineQuestion">
                <h3>¿Que metodos de pago puedo usar para pagar un curso en Invenire?</h3>
                <ion-icon name="caret-down-circle-outline"></ion-icon>
              </div>
              <div class="bodyQuestion">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad sapiente expedita, quas repellat, consequuntur ut possimus laboriosam laudantium totam officia, illum ullam sint consequatur! At, eligendi quibusdam. Obcaecati, fuga temporibus?
              </div>
            </article>
            <article class="question">
              <div class="headlineQuestion">
                <h3>¿Que metodos de pago puedo usar para pagar un curso en Invenire?</h3>
                <ion-icon name="caret-down-circle-outline"></ion-icon>
              </div>
              <div class="bodyQuestion">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad sapiente expedita, quas repellat, consequuntur ut possimus laboriosam laudantium totam officia, illum ullam sint consequatur! At, eligendi quibusdam. Obcaecati, fuga temporibus?
              </div>
            </article>
          </section>
        </section>
      </main>
      <script
        type="module"
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
      ></script>
      <script
        nomodule
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
      ></script>
    </body>
  </html>
</html>
