.user{
    @include b-blanco; 
    @include blanco; 
}

.user-main{
    background: radial-gradient(38.01% 51.94% at 58.56% 44.95%, #353535 0%, #1B1B1B 100%);
    background-size: cover;
    padding-top: 6rem;
    .principal-info{
        width: 100%;
        height: 80vh;
        @include flex;
        flex-direction: column;
        img{
            border-radius: 50%;
            max-width: 25%;
            max-height: 25%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }
        .info-header{
           display: flex;
           flex-direction: row;
           justify-content: center;
           gap: 20px;
            input{
                outline: none;
                border: none;
                border-bottom:1px solid #B6B6B6 !important;
                background: transparent;
                @include blanco;
                font-size: 1.7rem;
                width: 32.5%;
                transition: width 1s ease-in-out;
            }
            ion-icon{
                font-size: 2rem;
                cursor: pointer;
            }
            ion-icon:hover{
                @include amarillo; 
            }
        }
        
        .user-card{
            height: auto;
        }
    }

    .secondary-info{
        padding-top: 4rem;
        padding-bottom: 5rem;
        padding-inline: 2rem; 
        @include b-blanco; 
        .user-card{
            width: 30rem;
        }
        .info-container{
            display: flex;
            justify-content: space-evenly;
            form:nth-child(2), form:nth-child(3){
                .card-item:after{
                    display: none;
                }
                .card-item{
                    input{
                        border: none;
                        border-bottom: 1px solid #B6B6B6;
                    }
                }
                .card-item:nth-child(2){
                    label{
                        background-color: #B6B6B6;
                        width: auto;
                        padding: .35rem;
                    }
                }
            }
        }
    }
}










